body {
  margin: 0;
  font-family: "itc-stone-sans-reg", "montserrat", sans-serif;
  height: auto;
  background-image: url("../img/sunset.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #c2c2c2;
  background-position: 50% 50%;
}
h1 {
  color: #f2f2f2;
}

h2 {
  color: #f2f2f2;
}

h3 {
  color: #f2f2f2;
}
h4 {
  color: #d1d1d1;
  margin-top: -25px;
}
p {
  font-size: 12pt;
  line-height: 165%;
}
ul {
  font-size: 12pt;
  line-height: 175%;
}

li {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: rgb(207, 43, 40);
}

a:visited {
  color: rgb(150, 43, 200);
}

a:hover {
  color: rgb(193, 3, 0);
}

a:active {
  color: rgb(255, 0, 0);
}

iframe {
  width: 90%;
  align-self: center;
  border: none;
  display: block;
  margin: auto;
  border-radius: 10px;
  /* margin-bottom: -100px; */
  /* aspect-ratio: 16/9; */
  aspect-ratio: 4/1;
  /* margin-left: 40px; */
  /* margin-right: 40000px; */
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.main {
  padding: 0px;
  background: none;
  z-index: 100000000;

  overflow: hidden;
  padding: 14px 15%;
  /* border: 3px solid black; */
  justify-content: center;
  font-size: 14pt;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 4% 0%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8) 5% 95%,
    rgba(0, 0, 0, 0.7)
  );
  /* background: rgba(0, 0, 0, 0.8); */
}
.titlecard {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  /* float: left; */
  margin-left: 10px;
}

#typewriter {
  text-align: center;
  /* font-size: 20pt; */
}

.title_h2 {
  text-align: center;
  color: #888888;
}

#title {
  margin: 12% 0% 20%;
  /* margin: 250px 0px; */
}

.teams_sc {
  width: 75%;
  margin-left: 40px;
}

.footer {
  font-size: 8pt;
  text-align: center;
  color: #888888;
  margin-bottom: 0px;
}

.footer p {
  /* margin-top: 30px; */
  font-size: 10pt;
}

.spotifyiFrame {
  border-radius: 12px;
  margin-bottom: -20px;
}

/* #about,
#schoolProjects,
#projects,
#contact {
  padding-bottom: 1000px;
} */
