body {
    margin: 0;
    font-family: "itc-stone-sans", 'montserrat', sans-serif;
    height: auto;
    background-image: url("../img/boston_sharp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #f2f2f2;
}

h4 {
    color: rgb(172, 172, 172);
    margin-top: -25px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    /* border: 2px solid rgba(255, 255, 255, 1); */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; */
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 100px auto 50px;
    grid-template-rows: repeat(2, auto);
    border: 2px solid rgba(242, 242, 242, 0.45);
    border-radius: 5px;
    /* column-gap: 20px; */
}

.container>span {
    border-bottom: 2px solid rgba(242, 242, 242, 0.45);
    height: 100%;
    align-items: center;
    justify-content: center;
}

.span_carrot{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    /* float: left; */
    margin-left: 10px;
}

.span_img {
    display: flex;
}

.last_row {
    border-bottom: none;
}

.drawer {
    /* display: none; */
    grid-column: 1/4; 
    padding-left:50px;
    /* opacity: 0; */
    /* transform: translateY(100%);
    transition: 0.5s ease; */
}


.main {
    padding: 0px;
    color: #f2f2f2;
    background: none;
    z-index: 100000000;
    background: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    padding: 14px 16px;
    border: 3px solid black;
    justify-content: center;
    font-size: 14pt;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* height: inherit; */
    /* border-top: rgba(0, 0, 0, 0.15); */
}

.titlecard {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    /* float: left; */
    margin-left: 10px;
}

ul {
    text-align: left;
    list-style-position: outside;
    /* list-style-type: circle; */
    font-size: 12pt;
}

li {
    margin-left: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(207, 43, 40);
}

a:visited {
    color: rgb(150, 43, 200);
}

a:hover {
    color: rgb(193, 3, 0);
}

a:active {
    color: rgb(255, 0, 0);
}